@font-face {
    src: url(fonts/IBMPlexMono-Medium.ttf);
    font-family: ibm;
  }
  
  @font-face {
    src: url(fonts/ANGLED__.TTF);
    font-family: angeled;
  }

  @font-face {
    src: url(fonts/Comfortaa-Regular.ttf);
    font-family: comfortaa;
  }

  @font-face {
    src: url(fonts/Poppins-SemiBold.ttf);
    font-family: poppins;
  }

  :root {
    --primary-color: #fe2136;
    --background-color: #1b1b1b;
    --text-color: #fff;
    --gray-color: #a3a3a3;
  }

  
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
}

.light-mode {
  --primary-color: #fe2136;
  --background-color: #777676;
  --text-color: #.212529;
  --gray-color: rgb(36, 36, 36);
}

.tlm button {
  background-color: transparent;
  color: var(--text-color);
  font-family: poppins;
  font-size: 15px;
  border-color: transparent;
  position: absolute;
  top: 95%;
}

.tlm img {
  height: 70px;
  width: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container h1 {
    font-family: poppins, cursive;
    font-size: 48px;
    color: var(--primary-color);
    position: absolute;
    top: 50%; 
}

.container img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-color:var(--primary-color);
    border-style: solid;
    position: absolute;
    top: 10%; 
}
 
.navigate ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: none;
}

.navigate li {
    margin: 0 90px;
  list-style: none;
    color: var(--text-color);
    font-family: "comfortaa", cursive;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;

}

.navigate li:hover {
    color:var(--primary-color);
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.desc p {
  color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 70%;
}

.desc footer {
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 100%;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;
}

.desc footer:hover {
    color: var(--primary-color);
}


.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
  }
  
  .social-links a {
    display: block;
    margin: 0 10px;
    border-radius: 50%;
  }
  
  .social-links img {
    height: 60px;
    width: 60px;
  }
  

@media only screen and (max-width: 768px) {

    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -30%;
      }
  
    .container h1 {
      font-size: 36px;
      position: relative;
      top: unset;
      margin-top: 10px;
    }
  
    .container img {
      position: relative;
      top: unset;
      margin-top: 40px;
    }


    
.navigate ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigate li {
    margin: 0 30px;
  list-style: none;
    color: var(--text-color);
    font-family: "comfortaa", cursive;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;

}

.navigate li:hover {
    color:var(--primary-color);
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc p {
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 45%;
}

.desc footer {
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 95%;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;
}

.desc footer:hover {
    color: var(--primary-color);
}
  }
  

  
  @media only screen and (max-width: 480px) {
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -30%;
      }

    .container h1 {
      font-size: 36px;
      position: relative;
      top: unset;
      margin-top: 10px;
    }
  
    .container img {
      position: relative;
      top: unset;
      margin-top: 40px;
    }


    
.navigate ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigate li {
    margin: 0 10px;
  list-style: none;
    color: var(--text-color);
    font-family: "comfortaa", cursive;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;

}

.navigate li:hover {
    color:var(--primary-color);
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc p {
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 50%;
}

.desc footer {
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 100%;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;
}

.desc footer:hover {
    color: var(--primary-color);
}
  }
  


  @media only screen and (max-width: 375px) {
  body {
    width: 110vw;
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40%;
  }


    .container h1 {
      font-size: 36px;
      position: relative;
      top: unset;
      margin-top: 10px;
    }
  
    .container img {
      position: relative;
      top: unset;
      margin-top: 40px;
    }


    
.navigate ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigate li {
    margin: 0 10px;
  list-style: none;
    color: var(--text-color);
    font-family: "comfortaa", cursive;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;

}

.navigate li:hover {
    color:var(--primary-color);
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc p {
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 60%;
}

.desc footer {
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
    position: absolute;
    top: 100%;
    transition-duration: 1s;
    transition-property: color;
    transition-duration: 0.5s;
}

.desc footer:hover {
    color: var(--primary-color);
}
  }
  
  .container::before,
.container::after {
  content: "";
  position: fixed;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  background-color: rgba(8, 8, 8, 0.5); /* transparent red */
}

.container::before {
  transform: rotate(45deg);
}

.container::after {
  transform: rotate(-45deg);
}

/* width and height of the scrollbar thumb */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* background color of the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* color of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(245, 24, 24, 0.5);
    border-radius: 10px;
  }
  



  @media (width: 600px) and (height: 960px) {

    body {
      width: 110vw;
    }
      .container h1 {
        font-size: 36px;
        position: relative;
        top: unset;
        margin-top: 10px;
      }
    
      .container img {
        position: relative;
        top: unset;
        margin-top: 40px;
      }
    
    
      
    .navigate ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .navigate li {
      margin: 0 10px;
    list-style: none;
      color: var(--text-color);
      font-family: "comfortaa", cursive;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
    
    }
    
    .navigate li:hover {
      color:var(--primary-color);
    }
    
    .desc {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .desc p {
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      top: 50%;
    }
    
    .desc footer {
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      top: 100%;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
    }
    
    .desc footer:hover {
      color: var(--primary-color);
    }
  
  }
  
  
  
  @media (width: 320px) and (height: 533px) {
  
    body {
      width: 110vw;
    }
      .container h1 {
        font-size: 36px;
        position: relative;
        top: unset;
        margin-top: 10px;
      }
    
      .container img {
        position: relative;
        top: unset;
        margin-top: 40px;
      }
    
    
      
    .navigate ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .navigate li {
      margin: 0 10px;
    list-style: none;
      color: var(--text-color);
      font-family: "comfortaa", cursive;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
    
    }
    
    .navigate li:hover {
      color:var(--primary-color);
    }
    
    .desc {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .desc p {
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      font-size: 15px;
      top: 75%;
    }
    
    .desc footer {
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      top: 100%;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
    }
    
    .desc footer:hover {
      color: var(--primary-color);
    }
  
  }
  
  
  
  
  @media (width: 1024px) and (height: 1366px) {
  
    body {
      width: 110vw;
    }
      .container h1 {
        font-size: 70px;
        position: relative;
        top: unset;
        margin-top: 10px;
      }
    
      .container img {
        position: relative;
        top: unset;
        margin-top: 40px;
        height: 400px;
        width: 400px;
      }
    
    
      
    .navigate ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .navigate li {
      margin: 0 40px;
    list-style: none;
      color: var(--text-color);
      font-family: "comfortaa", cursive;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
      font-size: 40px;
    
    }
    
    .navigate li:hover {
      color:var(--primary-color);
    }
    
    .desc {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .desc p {
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      font-size: 40px;
      top: 55%;
    }
    
    .desc footer {
      font-size: 40px;
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      top: 100%;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
    }
    
    .desc footer:hover {
      color: var(--primary-color);
    }
  
  }
  
  
  
  
  @media (min-width: 280px) and (height: 653px) {
    body {
      width: 110vw;
    }
      .container h1 {
        font-size: 36px;
        position: relative;
        top: unset;
        margin-top: 10px;
      }
    
      .container img {
        position: relative;
        top: unset;
        margin-top: 40px;
      }
    
    
      
    .navigate ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    
    .navigate li {
      margin: 0 10px;
    list-style: none;
      color: var(--text-color);
      font-family: "comfortaa", cursive;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
    
    }
    
    .navigate li:hover {
      color:var(--primary-color);
    }
    
    .desc {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .desc p {
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      top: 70%;
    }
    
    .desc footer {
      color: var(--text-color);
      font-family: poppins;
      text-align: center;
      position: absolute;
      top: 100%;
      transition-duration: 1s;
      transition-property: color;
      transition-duration: 0.5s;
    }
    
    .desc footer:hover {
      color: var(--primary-color);
    }
  
  
  }
