@font-face {
    src: url(fonts/IBMPlexMono-Medium.ttf);
    font-family: ibm;
  }
  
  @font-face {
    src: url(fonts/Lato-Black.ttf);
    font-family: lato;
  }
  
  @font-face {
    src: url(fonts/Comfortaa-Regular.ttf);
    font-family: comfortaa;
  }
  
  @font-face {
    src: url(fonts/Poppins-SemiBold.ttf);
    font-family: poppins;
  }

  @font-face {
    src: url(fonts/HomemadeApple-Regular.ttf);
    font-family: homemadeapple;
  }
  
  :root {
    --primary-color: #f51c2e;
    --unskilled-color: #f52222;
    --php-color: #4F5D95;
    --python-color: #3776AB;
    --typescript-color: #007ACC;
    --javascript-color: #F7DF1E;
    --text-color: #0e0e0e;
  }
  
  
  body {
    background-color: rgb(209, 209, 209);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  .quotes {display: none;}

  .quotes1 {display: none;}

  .unskilled {
    color: var(--unskilled-color);
  }

  .php-lang {
    color: var(--php-color);
  }


  .python-lang {
    color: var(--python-color);
  }


  .typescript-lang {
    color: var(--typescript-color);
  }


  .javascript-lang {
    color: var(--javascript-color);
  }


  .describe p {
    font-family: poppins;
    color: var(--text-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 33%;
    font-size: 25px;
  }

  .describe h1 {
    font-family: ibm;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15%;
    font-size: 50px;
  }

  


.describe button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #000000;
    transition: background-color 0.3s ease;
    position: relative;
    top: 28%;
    font-family: poppins;
  }
  
  .describe button:hover {
    background-color: #2b2a2a;
  }
  
  .describe button:active {
    background-color: #181818;
  }


  @media only screen and (min-width: 300px) and (max-height: 1000px){


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 15px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 40px;
      }
    
      
    
    
    .describe button {
        padding: 12px 24px;
        font-size: 16px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }


  @media only screen and (min-height: 1000px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 30px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 50px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }


  @media only screen and (min-width: 600px) and (min-height: 900px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 30px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 50px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }


  @media only screen and (min-width: 300px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 15px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 30px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }



  @media only screen and (min-width: 400px) and (max-height: 900px){


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 20px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 35px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }

  @media only screen and (min-width: 300px) and (max-height: 500px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 15px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 30px;
      }
    
      
    
    
    .describe button {
        padding: 13px 26px;
        font-size: 15px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }



  @media only screen and (max-width: 400px) and (min-height: 800px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 20px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 50px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }



  @media only screen and (min-width: 800px) and (max-height: 1380px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 30px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 50px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }



  @media only screen and (min-width: 200px) and (max-height: 700px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 10px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 30px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }


  
  @media only screen and (min-width: 400px) and (max-height: 1000px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 20px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 30px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }



  @media only screen and (min-width: 300px) and (max-height: 700px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 15px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 30px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }



  @media only screen and (min-width: 700px) and (max-height: 1111px) {


    .describe p {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        font-size: 20px;
      }
    
      .describe h1 {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8%;
        font-size: 30px;
      }
    
      
    
    
    .describe button {
        padding: 18px 36px;
        font-size: 20px;
        top: 10%;
        transform: translateY(10%);
      }
      

      

  }
